---
import Logo from "./Logo.astro";
import TopBarNavigation from "./TopBarNavigation.astro";
---

<header class="l-site-header l-container">
  <div><Logo className="c-logo--sitting-left" /></div>
  <div><TopBarNavigation /></div>
</header>

<style lang="scss">
  @use "../styles/scss/abstracts/" as *;

  .l-site-header {
    padding-top: torem(8);
    padding-bottom: torem(8);
  }
</style>